@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Page not working properly.</p>
        <p class="lead">
            Please contact admin for more information.
        </p>
        @if (User.Identity!.IsAuthenticated)
        {
            <a class="btn btn-primary" asp-controller="Student" asp-action="Index">Go Home</a>
        }
        else
        {
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Go Home</a>
        }

    </div>
</div>